<!DOCTYPE html><html lang="en" class="select-none">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{ meta_description }}">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="/assets/nav-icon/favicon-32x32.png" type="image/png">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/output.css">
  <link rel="stylesheet" href="/styles/font.css">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2645469193065127" crossorigin="anonymous"></script>
</head>
<body class="dark:bg-[#121212] dark:text-[#E0E0E0] transition-all duration-300">
  <header>  {% include "navbar.html" %}</header> 
  <h2 class="md:text-2xl text-[18px] lg:px-70 md:px-10 px-3 mt-7">BCA 1st Semester</h2>
  <h1 class="md:text-2xl text-[18px] lg:px-70 md:px-10 px-3 underline">English I 2020 Board Question Paper</h1>
  <main class="mt-4 lg:px-70 md:px-10 px-3 z-0 font-serif font-semibold">
    <section class="text-[11px] md:text-[14px] relative">
      <div class="flex gap-10 md:gap-40 wrap-0">
        <img src="/assets/nav-icon/tu.svg" class="h-25 w-25" alt="tribhuvan university logo">
        <h4 class="font-bold text-[17px] md:text-2xl">Tribhuvan university</h4>
      </div>
      <div class="flex justify-between">
        <div class="">
          <h3>Bachelor In Computer Application</h3>
          <h3>Course Title: {{ course_title }}</h3>
          <h3>Code No: {{ code_no }}</h3>
          <h3>Semester: {{ semester }}</h3>
          <h3 class="absolute top-[20%] left-[50%] text-lg lg:text-xl">{{ year }}</h3>
        </div>
        <div class="flex flex-col">
          <span>Full Marks:60</span> 
          <span>Pass Marks:24</span> 
          <span>Time:3 hours</span>
        </div>
      </div>
      <p class="md:text-[16px]">Candidates are required to answer the question in their own words as far as possible.</p>
      <div class="ml-[50%]">Group B</div>
      <div class="flex justify-between">
        <div class="md:text-[17px] text-[14px]">Attempt any SIX question.</div>
        <div>[6x5=30]</div>
      </div>
    </section>
    <article class="font-normal text-[15px] md:text-[17px]">
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">11.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_11 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">12.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_12 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">13.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_13 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">14.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_14 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">15.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_15 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">16.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_16 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">17.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_17 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
      <span class="font-semibold ml-[50%]">Group C</span>
      <div class="flex justify-between font-semibold">
        <p>Attempt any TWO questions</p>
        <span>[2x10=20]</span>
      </div>
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">18.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_18 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">19.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_19 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
      <div class="flex gap-2 group cursor-pointer" onclick="handleMobileClick(event)">
        <span class="">20.</span>
        <div class="md:flex relative">
          <div class="inline">
            <p class="question-text inline">{{ question_20 }}</p>
          </div>
          <button id="icon" class="cursor-pointer opacity-0 md:group-hover:opacity-100 transition-all py-0 mr-1 bg-white" onclick="copyQuestion(this)">
            <img src="/assets/nav-icon/Clipboard-light.svg" class="block dark:hidden copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
            <img src="/assets/nav-icon/Clipboard-dark.svg" class="hidden dark:block copy-icon w-7 absolute bottom-[-2px] md:bottom-[2px]" alt="copy to clipboard">
          </button>
        </div>
      </div>
    </article>
    <div id="copy-notification" class="fixed bottom-4 ml-[50%] md:ml-50 -translate-x-1/2 opacity-0 invisible transition-all duration-400 bg-indigo-600 dark:bg-gray-700 text-white p-4 rounded-lg text-sm shadow-lg">Copied!</div>
  </main>
<footer>
    {% include "footer.html" %}
  </footer>

  <script src="/JavaScript/navbar.js"></script>
  <script src="/JavaScript/GoogleAnalytics.js"></script>
  <script src="/JavaScript/copyQuestion.js"></script>
  <script src="/JavaScript/footer.js"></script>
</body>
</html>
